<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appContacts</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <script src="index.js"></script> -->

    <script>
        CONTACTS = []
        function show_contacts() {
            axios.post('http://127.0.0.1:8000/contatos')
                .then(function (response) {
                    const list = document.getElementById("list")

                    const contacts = response.data

                    contacts.forEach(element => {
                        const item = document.createElement('li')
                        item.innerHTML = '<span>' + element.nome + '</span> | <span>' + element
                            .celular + '</span> <div class="controls"> <span class="edit" onclick="edit(event)"> Editar</span> | <span class="delete" onclick="excluir(event)"> Excluir</span> </div>'

                        list.appendChild(item)
                        CONTACTS.push(element.celular)
                    });
                })
                .catch(function (error) {
                    // manipula erros da requisição
                    console.error(error);
                })
                .finally(function () {
                    // sempre será executado
                });
        }

        function send(nome, celular, url) {
            CONTACTS.forEach(element => {
                if (element == celular.value) {
                    alert("Esse número já existe!")
                }
            }
            )

            axios.post(url, {
                nome: nome.value,
                celular: celular.value
            })
                .catch(function (error) {
                    // manipula erros da requisição
                    alert(error);
                })
                .finally(function () {
                    alert(response.data)
                });

        }

        function submitListener() {
            nome = document.getElementById('nome')
            celular = document.getElementById('celular')
            
            document.getElementById("form").onsubmit = function () {
                send(nome, celular,'http://127.0.0.1:8000/gravar')
            }
        }


        function excluir(event) {
            answer = window.confirm("Tem certeza que deseja excluir esse contato?")
            if(answer)
                nome = event.target.parentNode.parentNode.children[0].innerText
                celular = event.target.parentNode.parentNode.children[1].innerText

                axios.post('http://127.0.0.1:8000/delete', {
                    nome: nome,
                    celular: celular
                })

                location.reload()
        }

        function edit(){
           console.log("Função não implementada!")
        }

        window.onload = function () {

            show_contacts()
            console.log(CONTACTS)
            submitListener()

        }
    </script>
    <style>
        .main {
            max-width: 80%;
            margin: auto;
        }

        ul {
            list-style: none;
            padding-inline-start: 0px
        }

        li {
            padding: 10px 5px;
            border: solid 1px #e2e2e2;
            margin-bottom: 5px;

        }

        .controls {
            float: right;
        }

        .delete{
            cursor: pointer;

        }

        .edit{
            cursor:not-allowed;
            z-index: index -1;
        }
    </style>
</head>

<body>
    <div class="main">
        <form id="form">
            <input type="text" id="nome" placeholder="Nome" required>
            <input type="text" id="celular" placeholder="Celular" required>
            <input type="submit" value="OK">
        </form>
        <h1>Contatos</h1>
        <ul id="list">

        </ul>
    </div>

</body>

</html>